.cabecalho {
	background-color: black;
	color: whitesmoke;
  	display: flex;
  	justify-content: space-around;
}

.cabecalho a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 4vh;
  padding-left: 1vh;
  padding-right: 2vh;
  text-transform: uppercase;
  font-weight: bold;
}


.cabecalho a:hover {
	color: orange;
	border: 0.5vh solid orange;
}


.cabecalho ul {
  display: flex;
  padding: 0.2em;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-right: 8vh;

}

.logo {
	height: 21vh;
	padding-left: 8vh;
}

footer {
	text-align: center;
	background-color: lightgoldenrodyellow;
	border-top: solid 0.4vh;
}

footer img {
	height: 12vh;
}


footer p {
	padding-bottom: 1.3vh;
	font-size: 2vh;
	font-weight: bolder;
	margin: 0;
}


main {
	
	padding: 0 auto;
	padding-left: 8vh;
	background: linear-gradient(grey,antiquewhite,grey);
}

form {
	padding: 5vh 0;
}

form label, form legend, form p {
	display: block;
	font-size: 3vh;
	font-weight: bolder;
}

.inputPadrao {
	display: block;
	padding-bottom: 2.2vh;
	padding: 0.6vh;
	width: 50%;
}

fieldset label {
	font-weight: lighter;
	
}

fieldset {
	margin: 3vh 0;
}

select {
	margin: 1vh 0;
}

.checkbox{
	margin: 3.7vh 0;
}

.enviar {
	width: 55%;
	padding: 3.4vh;
	background-color: orange;
	color: whitesmoke;
	font-weight: bold;
	font-size: 4.5vh;
	border: none;
	border-radius: 1.5vh;
	cursor: pointer;
}

.enviar:hover {
	background-color: darkorange;
}

table {
	padding: 1vh 0 2vh;
}

thead {
	background-color: #555555;
	color: whitesmoke;
	font-weight: bold;
}

td, th {
	border: 0.2vh solid black;
	padding: 1.5vh 5vh;
}

@media screen and (max-width: 480px) {

	 header, .cabecalho, .principal, .mapa, .video, .beneficios, footer, .googlemaps,h1,h2,h3{
		
		width: auto;

	}

	.cabecalho {
		display: list-item;
	}

	.logo {
		height: 15vh;
	}

	.cabecalho ul {
	 justify-content: center;
	 width: auto;

	}

	.cabecalho a {
	  font-size: 1em;
	}

	
}