body{
	
	margin: 0;
	font-family: 'Montserrat Alternates', sans-serif;
	
}	

.cabecalho {
	background-color: black;
	color: whitesmoke;
  	display: flex;
  	justify-content: space-around;
}

.cabecalho a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 4vh;
  padding-left: 1vh;
  padding-right: 2vh;
  text-transform: uppercase;
  font-weight: bold;
  font-family: initial;
}


.cabecalho a:hover {
	color: orange;
	border: 0.5vh solid orange;
}


.cabecalho ul {
  display: flex;
  padding: 0.2em;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-right: 8vh;

}



.logo {
	height: 21vh;
	padding-left: 8vh;
}

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 8vh; 


}


.produtos li {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	padding: 1,5vh;
	margin: 0 1.5%;
	border-color: black;
	border-width: 0.5vh;
	border-style: solid;
	border-radius: 5%;
}

.produtos li:hover {
	border-color: orange;
}

.produtos li:hover h2 {
	font-size: 6vh;
}


.produtos h2 {
	font-size: 4.5vh;
	font-weight: bold;
	padding-top: 3.4vh;
}

.preco {
	font-weight: bold;
	font-size: 3vh;
	margin: 1vh 0;
}

.descricao {
	font-size: 2.5vh;
	margin: 1vh 0;
}

footer {
	text-align: center;
	background-color: lightgoldenrodyellow;
	border-top: solid 0.4vh;
}

footer img {
	height: 12vh;
}


footer p {
	padding-bottom: 1.3vh;
	font-size: 2vh;
	font-weight: bolder;
	margin: 0;
}

@media screen and (max-width: 480px) {

	 header, .cabecalho, .produtos, footer {
		
		width: auto;

	}

	.cabecalho {
		display: list-item;
	}

	.logo {
		height: 15vh;
	}

	.cabecalho ul {
	 	justify-content: center;
	 	width: auto;

	}

	.cabecalho a {
	 	font-size: 1em;
	}

	
}