* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
 
body {
  background-image: url("https://wallpaperaccess.com/full/1311126.png");
  background-size: auto 270vh;
  height: 100vh;
  font-size: 21px; 

}

header {
  background-color: #DDA0DD;
  border: 3px solid slateblue;
  box-shadow: 0px 0px 12px 2px blueviolet;
  position: fixed;
  width: 100vw;
}

header a {
  display: block;
  color: black;
  text-decoration: none;
  font-style: italic;
  padding: 0.2em;
  transition: background-color 0.5s, color 0.5s, font-size 0.5s; 
}

li a:active,
li a:hover {
  display: block;
  background-color: black;
  color: white;
  padding: 1.2em;
  font-size: 1.25em;
  box-shadow: 2px 2px teal;
  padding: 0.2em;
}

header li {
  list-style: none;
}
header ul {
  display: flex;
  justify-content: space-around;
  padding: 0.65vh;
}

.menu {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.site-title {
  text-align: center;
  color: black;
  transition: text-shadow 0.4s;
  font-size: 2.0em;
  font-family: major mono display;
  padding: 1.3vh;
}

.menu h1:active,
.menu h1:hover {
  text-shadow: 5px 5px 4px white;
}



.imgPrincipal {
	width: 55vh;
	height: 53vh;
	border-radius: 50%;
	object-fit: cover;
	object-position: bottom;
	border: 0.75vh solid black;
	transition: 0.5s;
}

.imgPrincipal:active,
.imgPrincipal:hover{
  box-shadow: 0px 0px 10px 12px black;
  transform: rotateZ(-1.6deg);
}



.paragrafos {
	margin: 1vh;
	font-size: 1.45em;
	text-indent: 1.5em;
}

.paragrafo1,
.paragrafo2,
.paragrafo3,
.paragrafo4,
.paragrafo5
 {
	text-align: justify;
	padding: 1.5vh;
	font-family: Amatic SC;
}
.paragrafo5
 {
	padding-bottom: 3vh;
}

.avatar {
	display: flex;
	align-items: center;
}



@media (min-width: 600px) {
body {
    font-size: 23px; 
}
.site-title {
    font-size: 2.7em;
}
.fotoDescricao{
}
figure {
  margin: 1.5vh;
}
.avatar {
	float: left;
}
}

@media (min-width: 900px) {
body {
  font-size: 24px; 
}
.site-title {
  font-size: 2.7em;
}
.fotoDescricao{
 
}
figure {
  margin: 1.5vh;
}
.avatar {
	float: left;
}
}